<div class="container">
    <h1 style="text-align: center; font-size: 50px;">FORM BUILDER</h1>
    <div >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
            <div class="user-input">
                <label for="username">Username </label>
                <input type="email" name="email" ngModel email formControlName="username"  
                [ngClass]="{ 'is-invalid': isSubmitted && getFormControls.username.errors }" />   
            </div>
            <div class="user-input">
                <label for="password">Password </label>
                <input type="password" formControlName="password" 
                [ngClass]="{ 'is-invalid': isSubmitted && getFormControls.password.errors }" /> 
            </div>
            <div class="buttons">
                <button type="submit" name="register">
                    <span *ngIf="loading" ></span>
                    Register
                </button>
                <button type="submit" name="login">
                    <span *ngIf="loading" ></span>
                    Login
                </button>
            </div>
            <div class="portalOutlet" cdkPortalOutlet>
                <div *ngIf="isSubmitted && getFormControls.username.errors" >
                    <div  *ngIf="getFormControls.username.errors.required">Username is required</div>
                </div>
                <div *ngIf="isSubmitted && getFormControls.password.errors" >
                    <div *ngIf="getFormControls.password.errors.required">Password is required</div>
                </div>
                <div *ngIf="error$ ">{{currentError}}</div>
            </div>
        </form>
    </div>
</div>
