<cdk-accordion class="example-accordion">
    <cdk-accordion-item
        *ngFor="let item of items; let index = index"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
    >
        <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
        >
            {{ item }}
            <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? "close" : "open" }}
            </span>
        </div>

        <div
            *ngIf="index && currentStateElement.element"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
        >
            {{ currentStateElement.elem }}<br />
            Id: {{ elementId$ | async }}<br />
            Width:
            <input
                type="text"
                placeholder="%, em, rem, px, vh etc."
                #elementWidth
                (input)="
                    inputParameter(
                        elementWidth.value,
                        'width',
                        styleParams.width_style
                    )
                "
            /><br />
            Height:
            <input
                type="text"
                placeholder="%, em, rem, px, vh etc."
                #elementHeight
                (input)="
                    inputParameter(
                        elementHeight.value,
                        'height',
                        styleParams.height_style
                    )
                "
            /><br />
            Font Size:
            <input
                #fontSize
                (input)="
                    inputParameter(
                        fontSize.value,
                        'font-size',
                        styleParams.fontSize_style
                    )
                "
            /><br />
            Font Weight:
            <select
                #weight
                (change)="
                    inputParameter(
                        weight.value,
                        'font-weight',
                        styleParams.fontWeight
                    )
                "
            >
                <option>normal</option>
                <option>bold</option></select
            ><br />
            Color rgb:
            <input
                type="color"
                #color
                (change)="
                    inputParameter(
                        color.value,
                        'color',
                        styleParams.color_style
                    )
                "
            /><br />
            Background:
            <input
                type="color"
                #bgColor
                (change)="
                    inputParameter(
                        bgColor.value,
                        'background-color',
                        styleParams.background_style
                    )
                "
            /><br />
            Placeholder:
            <input
                #placeholder
                (input)="
                    inputParameter(
                        placeholder.value,
                        'placeholder',
                        styleParams.placeholder_value
                    )
                "
            /><br />
        </div>
        <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
            *ngIf="
                index &&
                currentStateElement.element !== 'button' &&
                    currentStateElement.element !== ''
            "
        >
            Border Style:
            <input
                #border
                (input)="
                    inputParameter(
                        border.value,
                        'border',
                        styleParams.borderStyle
                    )
                "
            /><br />
        </div>
        <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
            *ngIf="
                index &&
                (currentStateElement.element == 'input' ||
                    currentStateElement.element == 'textarea')
            "
        >
            Required:
            <select
                #req
                (change)="
                    inputParameter(req.value, 'required', styleParams.required)
                "
            >
                <option>Nope</option>
                <option>required</option></select
            ><br />
        </div>
        <div
            [formGroup]="parameters"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
            *ngIf="!index"
        >
            Width:
            <input
                formControlName="width"
                type="text"
                placeholder="%, em, rem, px, vh etc."
            /><br />
            Height:
            <input
                formControlName="height"
                type="text"
                placeholder="em, rem, px, vh etc."
            /><br />
            Border: <input formControlName="border" type="text" /><br />
            Bg: <input formControlName="background" type="color" /><br />
        </div>
    </cdk-accordion-item>
</cdk-accordion>
