<cdk-accordion class="example-accordion" >
  
    <cdk-accordion-item
      *ngFor="let item of items; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ item }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      
      <div *ngIf="index && currentStateElement.elem"
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        >
          {{(currentStateElement.elem)}}<br>
          Id: {{elementId$ | async}}<br>
          Width: <input type="text" placeholder="%, em, rem, px, vh etc." #elementWidth 
            (input)="inputParam(elementWidth.value, 'width', styleParams.widthh)"><br>
          Height: <input type="text" placeholder="%, em, rem, px, vh etc." #elementHeight 
            (input)="inputParam(elementHeight.value, 'height', styleParams.heightt)"><br>
          Border Style: <input #border 
            (input)="inputParam(border.value, 'border', styleParams.borderStyle)"><br>
          Font Size: <input #fontSize 
            (input)="inputParam(fontSize.value, 'font-size', styleParams.fontSizee)"><br>
          Font Weight: <select #weight 
            (change)="inputParam(weight.value, 'font-weight', styleParams.fontWeight)">
            <option>normal</option><option>bold</option></select><br/>
          Color rgb: <input type="color" #color 
            (change)="inputParam(color.value, 'color', styleParams.colorr)"><br>
          Background: <input type="color" #bgColor 
            (change)="inputParam(bgColor.value, 'background-color', styleParams.backgroundd)"><br>
          Placeholder: <input #placeholder 
            (input)="inputParam(placeholder.value, 'placeholder', styleParams.placeholderr)"><br>
          <!--<div><button>Set</button></div>-->        
      </div>
      
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        *ngIf="index && (currentStateElement.elem=='input' || currentStateElement.elem=='textarea')">
          
          
          Required: <select #req (change)="inputParam(req.value, 'required', styleParams.required)">
            <option>Nope</option><option>required</option>
          </select><br/>
          
          <!--<div><button>Set</button></div>-->
      
      </div>
      
      <div [formGroup] = "parameters"
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        *ngIf="!index">
          Width: <input 
            formControlName="width"
            type="text" 
            placeholder="%, em, rem, px, vh etc."><br/>
          Height: <input 
            formControlName="height" 
             
            type="text" 
            placeholder="em, rem, px, vh etc."><br/>
          Border: <input
            formControlName="border" 
            
            type="text" 
            ><br/>
          Bg: <input
            formControlName="background" 
            
            type="color" 
            ><br>
        
      </div>
      
    </cdk-accordion-item>
  </cdk-accordion>