::-webkit-input-placeholder {
    text-align: center;
}

.switcher {
    min-width: 100%;
    min-height: 100%;
    
    
}

input {
    text-align: center;
}

textarea {
    resize: none;
    text-align: center;
}

.myLabel {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}


input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

textarea:invalid {
    border: 2px dashed red;
}

textarea:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}


* {
    box-sizing: border-box;
    
}
  
