
<div class="section1">
  <form [formGroup]="form" >
    <accordion formControlName="parameters"></accordion>
  </form>
</div>
  <div class="section2" [style.width]="form.value.parameters.width ? form.value.parameters.width : '60%'" 
    [style.height]="form.value.parameters.height ? form.value.parameters.height : '60%'" 
    [style.border]="form.value.parameters.border  ? form.value.parameters.border : '#000 solid 2px'"
    [style.backgroundColor]="form.value.parameters.background  ? form.value.parameters.background : '#fff'">
    
    <div cdkDropList #formElements="cdkDropList" [cdkDropListData]="formFields"  [cdkDropListConnectedTo]="htmlElements"
      class="list-section2" (cdkDropListDropped)="drop($event)" >
      <elements 
      
      class="list-item" *ngFor="let item of formFields; let i = index" cdkDragPlaceholder 
      cdkDragBoundary=".section2" cdkDrag (click)="getIndex(i)" element={{item.element}} id={{item.id}}>
      </elements>
    </div>
  </div>
  
  <div cdkDropList cdkDropListOrientation="horizontal" #htmlElements="cdkDropList" [cdkDropListData]="draggableFields"
  [cdkDropListConnectedTo]="formElements" (cdkDropListDropped)="drop($event)" cdkDragPlaceholder class="section3">
    <elements class="htmlElement" *ngFor="let item of draggableFields" cdkDragBoundary=".section2" 
    cdkDrag element={{item}}></elements>
  </div>