<body>
<div class="container">

    <h1 style="text-align: center; font-size: 50px;">FORM BUILDER</h1>
    <div >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
            <div class="user-input">
                <label for="username">Username </label>
                <input type="text" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" >
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="user-input">
                <label for="password">Password </label>
                <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" >
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" name="register" [disabled]="loading" >
                    <span *ngIf="loading" ></span>
                    Register
                </button>
                <button type="submit" name="login" [disabled]="loading" >
                    <span *ngIf="loading" ></span>
                    Login
                </button>
            </div>
            
            <div *ngIf="error" >{{error}}</div>
        </form>
    </div>
    
</div>
</body>