
<div class="sect1">
  <accordion 
  
  [(widthInputForm)]="formWidth" 
    [(heightInputForm)]="formHeight" 
    [(borderInputForm)]="formBorder" 
    [(bgInputForm)]="formBg">
  </accordion>
</div>
  
  <div class="sect2" [style.width]="formWidth.length > 0 ? formWidth : '60%'" 
    [style.height]="formHeight.length > 0 ? formHeight : '60%'" 
    [style.border]="formBorder.length > 0 ? formBorder : '#000 solid 2px'"
    [style.backgroundColor]="formBg.length > 0 ? formBg : '#fff'">
    
    <div cdkDropList #formElems="cdkDropList" [cdkDropListData]="formFields"  [cdkDropListConnectedTo]="htmlElems"
      class="list-sect2" (cdkDropListDropped)="drop($event)" >
      <elems 
      
      class="list-item" *ngFor="let item of formFields; let i = index" cdkDragPlaceholder cdkDragBoundary=".sect2" cdkDrag (click)="getIndex(i)" elem={{item.elem}} id={{item.id}}>
      </elems>
    </div>

  </div>
  
  <div cdkDropList cdkDropListOrientation="horizontal" #htmlElems="cdkDropList" [cdkDropListData]="draggableFields"
  [cdkDropListConnectedTo]="formElems" (cdkDropListDropped)="drop($event)" cdkDragPlaceholder class="sect3">
  
    <elems class="htmlElem" *ngFor="let item of draggableFields" cdkDragBoundary=".sect2" cdkDrag elem={{item}}></elems>
  </div>
  
  <!--<div class="portals-outlet" cdkDragBoundary=".sect2" cdkDrag>
    <ng-container #virtualContainer cdkPortalOutlet>
    </ng-container>
  </div>
  
  <ng-template #customTemplate let-name="name">
    <p class="margin-left-8">Custom template with parameter `name`：{{name}}</p>
  </ng-template>
    <button (click)="renderTemplate()">Click</button>-->




