.list-item {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
}


/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  
  border-radius: var(--radius);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: var(--transition);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: var(--transition);
}

.cdk-drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: var(--transition);
}

.sect1 {
  width: 60%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  
  
}

.sect2 {
  
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

}

.sect3 {
  border: #000 solid 2px;
  min-height: 10vh;
  margin: auto;
  padding: 0%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(170, 162, 162);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  margin-bottom: 30px;
}



li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3 {
  width: 400px;
  min-width: 200px;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.container2 {
  width: 100%;
  min-height: 60vh;

  display: flex;
  flex-direction: row;
  background: white;
  border-radius: var(--radius);
  overflow: hidden;
  margin: auto;
}

.htmlElem {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  min-width: 200px;
  background: white;
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.list-sect2 {
  display: block;
  width: 100%;
  text-align: center;
  min-height: 500px;
}

* {
  --radius: 4px;
  --transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



