::-webkit-input-placeholder {
    text-align: var(--perfect_align);
}

.switcher {
    min-width: 100%;
    min-height: 100%;
    
    
}

.switcher input {
    text-align: var(--perfect_align);
}



.switcher textarea {
    resize: none;
    text-align: var(--perfect_align);
}

.switcher .myLabel {
    margin-top: 15px;
    display: block;
    
    justify-content: var(--perfect_align);
    margin-left: auto;
    margin-right: auto;
    
}

.switcher input:invalid {
    border: var(--invalid_input_border);
}

.switcher input:invalid:required {
    background-image: var(--invalid_input);
}

.switcher textarea:invalid {
    border: var(--invalid_input_border);
}

.switcher textarea:invalid:required {
    background-image: var(--invalid_input);
}


* {
    box-sizing: border-box;
    --perfect_align: center;
    --invalid_input: linear-gradient(to right, pink, lightgreen);
    --invalid_input_border: 2px dashed red;
}
