<cdk-accordion class="example-accordion" >
    <cdk-accordion-item
      *ngFor="let item of items; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ item }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        *ngIf="index && currentStateElement.elem=='labelCheck'">
          {{(currentStateElement.elem)}}<br>
          Id: {{elementId$ | async}}<br>
          Font Size: <input #fontSize (input)="inputFont(fontSize.value)" [value]="fontSizee"><br>
          Font Weight: <select #weight (change)="inputWeight(weight.value)" [value]="fontWeight"><option>normal</option><option>bold</option></select><br/>
          Color rgb: <input type="color" #color (change)="inputColor(color.value)" [value]="colorr"><br>
          Background: <input type="color" #bgColor (change)="inputBg(bgColor.value)" [value]="backgroundd">
          <!--<div><button>Set</button></div>-->        
      </div>
      
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        *ngIf="index && (currentStateElement.elem=='button' || currentStateElement.elem=='select')">
          {{currentStateElement.elem}}<br>
          Id: {{elementId$ | async}}<br>
          Width: <input type="text" placeholder="%, em, rem, px, vh etc." #elementWidth (input)="inputWidth(elementWidth.value)" [value]="widthh"><br>
          Height: <input type="text" placeholder="%, em, rem, px, vh etc." #elementHeight (input)="inputHeight(elementHeight.value)" [value]="heightt"><br>
          Border Style: <input #border (input)="inputBorder(border.value)" [value]="borderStyle"><br>
          Font Size: <input #fontSize (input)="inputFont(fontSize.value)" [value]="fontSizee"><br>
          Font Weight: <select #weight (change)="inputWeight(weight.value)" [value]="fontWeight"><option>normal</option><option>bold</option></select><br/>
          Color rgb: <input type="color" #color (change)="inputColor(color.value)" [value]="colorr"><br>
          Background: <input type="color" #bgColor (change)="inputBg(bgColor.value)" [value]="backgroundd">
          <!--<div><button>Set</button></div>-->
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        *ngIf="index && (currentStateElement.elem=='input' || currentStateElement.elem=='textarea')">
          {{currentStateElement.elem}}<br>
          Id: {{elementId$ | async}}<br>
          Placeholder: <input #placeholder (input)="inputPlaceholder(placeholder.value)" [value]="placeholderr"><br>
          Width: <input type="text" placeholder="%, em, rem, px, vh etc." #elementWidth (input)="inputWidth(elementWidth.value)" [value]="widthh"><br>
          Height: <input type="text" placeholder="%, em, rem, px, vh etc." #elementHeight (input)="inputHeight(elementHeight.value)" [value]="heightt"><br>
          Required: <select #req (change)="inputReq(req.value)" [value]="required"><option>Nope</option><option>required</option></select><br/>
          Border Style: <input #border (input)="inputBorder(border.value)" [value]="borderStyle"><br>
          Font Size: <input #fontSize (input)="inputFont(fontSize.value)" [value]="fontSizee"><br>
          Font Weight: <select #weight (change)="inputWeight(weight.value)" [value]="fontWeight"><option>normal</option><option>bold</option></select><br/>
          Color rgb: <input type="color" #color (change)="inputColor(color.value)" [value]="colorr"><br>
          Background: <input type="color" #bgColor (change)="inputBg(bgColor.value)" [value]="backgroundd">
          <!--<div><button>Set</button></div>-->
        
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
        *ngIf="!index">
          Width: <input type="text" placeholder="%, em, rem, px, vh etc." [(ngModel)]="widthInputForm" (ngModelChange)="widthFormChange($event)"><br/>
          Height: <input type="text" placeholder="%, em, rem, px, vh etc." [(ngModel)]="heightInputForm" (ngModelChange)="heightFormChange($event)"><br/>
          Border: <input type="text" placeholder="Input type, color and width" [(ngModel)]="borderInputForm" (ngModelChange)="borderFormChange($event)"><br/>
          Bg: <input type="color" placeholder="Color" [(ngModel)]="bgInputForm" (ngModelChange)="bgFormChange($event)"><br>
        
      </div>
      
    </cdk-accordion-item>
  </cdk-accordion>