.accordion {
  display: block;
  max-width: 100%;
  margin-left: var(--radius);
  margin-right: var(--radius);
  margin-bottom: 5%;
}
  
.accordion-item {
  display: block;
  border: solid .1em #ccc;
}

.accordion-item + .accordion-item {
  border-top: none;
}

.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.accordion-item-header {
  padding: 2vh;
}

.accordion-item-body {
  text-align: center;
  line-height: 2;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.accordion-item:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.accordion-item:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}


* {
  --radius: .2em;
  --element_center: auto
}


  