<cdk-accordion class="example-accordion">
    <cdk-accordion-item
        *ngFor="let item of accordionParts; let index = index"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
    >
        <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
        >
            {{ item }}
            <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? "close" : "open" }}
            </span>
        </div>

        <div
            *ngIf="index && element$"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
        >
            {{ element$ | async }}<br />
            Id: {{ id$ | async }}<br />
            Width:
            <input
                type="text"
                placeholder="%, em, rem, px, vh etc."
                #elementWidth
                (input)="changeElementStyles(elementWidth.value, 'width')"
            /><br />
            Height:
            <input
                type="text"
                placeholder="%, em, rem, px, vh etc."
                #elementHeight
                (input)="changeElementStyles(elementHeight.value, 'height')"
            /><br />
            Font Size:
            <input
                #fontSize
                (input)="changeElementStyles(fontSize.value, 'font-size')"
            /><br />
            Font Weight:
            <select
                #weight
                (change)="changeElementStyles(weight.value, 'font-weight')"
            >
                <option>normal</option>
                <option>bold</option></select
            ><br />
            Color rgb:
            <input
                type="color"
                #color
                (change)="changeElementStyles(color.value, 'color')"
            /><br />
            Background:
            <input
                type="color"
                #bgColor
                (change)="
                    changeElementStyles(bgColor.value, 'background-color')
                "
            /><br />
            Placeholder:
            <input
                #placeholder
                (input)="changeElementStyles(placeholder.value, 'placeholder')"
            /><br />
        </div>
        <div
            *ngIf="index && element$ !== 'button' && element$ !== ''"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
        >
            Border Style:
            <input
                #border
                (input)="
                    changeElementStyles(
                        border.value,
                        'border',
                        styleElements.borderStyle
                    )
                "
            /><br />
        </div>
        <div
            *ngIf="index && (element$ == 'input' || element$ == 'textarea')"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
        >
            Required:
            <select
                #req
                (change)="
                    changeElementStyles(
                        req.value,
                        'required',
                        styleElements.required
                    )
                "
            >
                <option>Nope</option>
                <option>required</option></select
            ><br />
        </div>
        <div
            *ngIf="!index"
            [formGroup]="formStyling"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
        >
            Width:
            <input
                formControlName="width"
                type="text"
                placeholder="%, em, rem, px, vh etc."
            /><br />
            Height:
            <input
                formControlName="height"
                type="text"
                placeholder="em, rem, px, vh etc."
            /><br />
            Border: <input formControlName="border" type="text" /><br />
            Bg: <input formControlName="background" type="color" /><br />
        </div>
    </cdk-accordion-item>
</cdk-accordion>
